.vs/
.atsuo
*.vscode-ctags
*.bin
*.eep
*.elf
*.hex
*.lss
*.map
*.srec

/__pycache__
.vscode/
[Rr]elease/*
[Dd]ebug/*
![Dd]ebug/makedep.mk
![Dd]ebug/Makefile
![Rr]elease/makedep.mk
![Rr]elease/Makefile
*.pyc
*.o
*.d
.vscode-ctags.next
